nav {
    box-sizing: border-box;
    width: 880px;
    margin: auto;
    border: 1px solid rgb(133, 123, 123);
}

.NavBarSearch-field {

}

.menu__buttons {
    float: right;
}

.menu__buttons a {
}
